<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Simple Template example for DAM images</title>
</head>
<body>

<!-- ###GENERICLIST.DEFAULT### START -->

	<!-- ###ITEMS### START -->
		<ul>
		<!-- ###ITEM### START -->
			<li>
				###ITEM_UID###
				-
				###ITEM_TITLE###
			</li>
		<!-- ###ITEM### END -->
		</ul>
	<!-- ###ITEMS### END -->

<!-- ###GENERICLIST.DEFAULT### END -->

</body>
</html>