<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Simple Template example for DAM images</title>
</head>
<body>

<!-- ###LISTPAGE### START -->
	<!-- ###PAGES### START -->
		<ul>
		<!-- ###PAGE### START -->
			<li>
				###PAGE_TITLE###
				<p>ID: ###PAGE_UID###</p>
			</li>
		<!-- ###PAGE### END -->
		</ul>
	<!-- ###PAGES### END -->
<!-- ###LISTPAGE### END -->

</body>
</html>